body{
    background-color: aquamarine;
}
table{
    color: red;
    background-color: yellow;
    border: solid 1px;
}

td{
    border: solid 1px;
    text-align: center;
}
th{
    border:solid;
}
img{
   margin-left: 500px ;
   position: absolute;
}